body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.stock-ui {
  max-width: 500px;
  margin: 20px auto;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 20px;
  margin: 0;
  color: #ffffff;
  background-color: #48c91d;
  padding: 10px 20px;
  border-radius: 4px;
}

.exchange-toggle label {
  margin-right: 10px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  color: #333;
}

.exchange-toggle input {
  margin-right: 5px;
}

.tabs {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.tabs button {
  flex: 1;
  padding: 10px;
  border: none;
  background: none;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  color: #48c91d;
}

.tabs button.active-tab {
  color: #48c91d;
  border-bottom: 2px solid #48c91d;
  font-weight: bold;
}
.productId-OrderType-Container {
  display: flex;
  gap: 50px;
}

.productId {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.buyProductId button {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
  border-radius: 4px;
}

.buyProductId button.active {
  background-color: #48c91d;
  color: #ffffff;
  border: 1px solid #48c91d;
}

.productId button:last-child {
  margin-right: 0;
}

.orderType {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.orderType button {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
  border-radius: 4px;
}

.orderType button.active {
  background-color: #48c91d;
  color: #ffffff;
  border: 1px solid #48c91d;
}

.orderType button:last-child {
  margin-right: 0;
}

.price-section {
  display: flex;
  gap: 20px; /* Adjust spacing between input groups */
}

.input-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input-group label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333; /* Label text color */
}

.input-group input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-group select {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  font-size: 14px;
  margin: 0;
  color: darkgrey;
}

.footer button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.footer .add-funds {
  background-color: #007bff;
  color: #ffffff;
}

.footer .buy {
  background-color: #48c91d;
  color: #ffffff;
}

.footer .cancel {
  background-color: #e0e0e0;
  color: #333;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.close-button:hover {
  color: #000;
}
